<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/cryptfont.css">
        <link rel="stylesheet" type="text/css" href="../../css/login_util.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="../../js/jquery.js"></script>
        <script src="../../js/bootstrap.js"></script>
    </head>
    <body style="background-color: black;">
        <div class="top_head">
            <a href="../trade/index.html" style="color: white;"><i class="fa fa-arrow-left" aria-hidden="true" style="position: absolute; left:0; margin:10px"></i></a>
            <img src="../../img/logo.png">
        </div>
        <div class="confirm_div">
            <p class="fs-22" style="font-family:'roboto_bold'">Confirm Payment </p>
            <p class="fs-15" style="margin-top:30px;">SUMMARY</p>
            <div class="send_sub_div" >
                <p style="width: 50%; letter-spacing: 1px;">Sending to</p>
                <div style="width: 50%; text-align: right; ">
                    <span class="send_to_address_span">
                        <i class="cf cf-btc" style="color:green"></i> 
                        <span class="fs-12" >0x9360e055793e299a6da2c54a4b37fbd43992b624</span>
                    </span>
                </div>
            </div>
            <div class="send_sub_div" >
                <p style="width: 50%;">Miner fee</p>
                <div style="width: 50%; text-align: right; ">
                     <button class="miner_fee_modal_button"><span class="miner_fee_button_text">Economic</span> 
                        <i class="fas fa-caret-down"></i>
                    </button>
                </div>
            </div>

            <div class="send_sub_div" style="display: block;">
                <p style="width: 100%;">Enter your pincode*</p>
                <div style="width: 80%; margin:auto; padding-bottom:15px;">
                     <input type="number" class="pincode_input" tabindex="1" />
                     <input class="pincode_input" tabindex="2"/>
                     <input class="pincode_input" tabindex="3"/>
                     <input class="pincode_input" tabindex="4"/>
                     <input class="pincode_input" tabindex="5"/>
                     <input class="pincode_input" tabindex="6"/>
                </div>
            </div>

            <div class="send_sub_div" style="margin-top:10px">
                <p class="fs-15" style="width: 50%;">TOTAL AMOUNT</p>
                <div style="width: 50%; text-align: right; ">
                     <p class="fs-17" style="margin-bottom:3px; font-weight: 700;">0.05 BCH</p>
                     <p style="margin-bottom:0">13.43 USD</p>
                </div>
            </div>
            <div class="exchange_button_div" style="padding-bottom:50px">
                <button class="form-control" style="width: 60%; margin:auto; margin-top:20px">SEND</button>
            </div>
        </div>
        <div class="modal fade" id="miner_fee_modal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                    <p class="fs-15" >Miner fee</p>
                    <div class="radio">
                        <label><input type="radio" value="Economic" class="miner_fee_radio" name="miner_fee_radio" checked>Economic</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" value="Standard" class="miner_fee_radio" name="miner_fee_radio">Standard</label>
                    </div>
                    <div class="radio" style="margin-bottom:0px; padding-bottom:20px">
                        <label><input type="radio"  value="High Priority" class="miner_fee_radio" name="miner_fee_radio">High Priority</label>
                    </div>
              </div>
              
            </div>
          </div>
    </body>
</html>
<script>
    var ddData = [
    {
        text: "BTC Bitcoin",
        value: 1,
        selected: false,
        description: "0.000 BTC | $0.00",
        imageSrc: "../../img/btc.png",
    },
    {
        text: "ATRI Atari token",
        value: 2,
        selected: false,
        description: "0.000 BTC | $0.00",
        imageSrc: "../../img/atri.png"
    },
    {
        text: "ETH Ethereum",
        value: 3,
        selected: true,
        description: "0.000 BTC | $0.00",
        imageSrc: "../../img/eth.png"
    },
    {
        text: "LTC litcoin",
        value: 4,
        selected: false,
        description: "0.000 BTC | $0.00",
        imageSrc: "../../img/ltc.png"
    },
    {
        text: "BCH Bitcoin cash",
        value: 4,
        selected: false,
        description: "0.000 BTC | $0.00",
        imageSrc: "../../img/bch.png"
    }
];
    $('#exchange_from_select').ddslick({
        data: ddData,
        defaultSelectedIndex:1
    });
    $('#exchange_to_select').ddslick({
        data: ddData,
        defaultSelectedIndex:1
    });
    $(".miner_fee_modal_button").click(function(){
        $("#miner_fee_modal").modal('show');
    })
    $(".miner_fee_radio").change(function(){
        $("#miner_fee_modal").modal('hide');
        $(".miner_fee_button_text").html($('input[name=miner_fee_radio]:checked').val())
    })
</script>