  .txt1 {
    font-size: 12px;
    color: red;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'roboto';
  }
  
  .txt2 {
    
    font-size: 15px;
    color: rgb(44, 96, 36);
    line-height: 1.5;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    padding: 15px;
    background: black;  
  }
  
  .wrap-login100 {
    width: 390px;
    background: black;
  }
  
  
  /*------------------------------------------------------------------
  [ Form ]*/
  
  .login100-form {
    width: 100%;
  }
  
  .login100-form-title {
    display: block;
    font-size: 20px;
    color: rgb(233, 47, 47);
    line-height: 1.2;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
  }
  
  .login100-form-avatar {
    display: block;
    width: 150px;
    /*height: 120px;*/
    /*border-radius: 50%;*/
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    height: 10%;
  }
  .login100-form-avatar-forget {
    display: block;
    width: 100px;
    /*height: 120px;*/
    /*border-radius: 50%;*/
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
  }
  
  .login100-form-avatar img {
    width: 100%;
  }
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .wrap-input100 {
    width: 85%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
  }
  
  .input100 {
    font-family: Poppins-SemiBold;
    font-size: 13px;
    color: #555555;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    height: 36px;
    background: transparent;
    padding: 0 5px;
  }
  
  /*---------------------------------------------*/ 
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: rgb(227,30,45);
  }
  .focus-input1001::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    background: #57b846;
  }
  
  .focus-input100::after {
    
    font-size: 14px;
    color: black;
    line-height: 1.2;
  
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .focus-input1001::after {
    
    font-size: 15px;
    color: white;
    line-height: 1.2;
  
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0px;
    padding-left: 5px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  
  .input100:focus + .focus-input100::after {
    top: -15px;
    font-size: 15px;
  }
  
  .input100:focus + .focus-input100::before {
    width: 100%;
  }
  
  .has-val.input100 + .focus-input100::after {
    top: -15px;
    font-size: 15px;
  }
  
  .has-val.input100 + .focus-input1001::before {
    width: 100%;
  }
  .input100:focus + .focus-input1001::after {
    top: -15px;
    font-size: 15px;
  }
  
  .input100:focus + .focus-input1001::before {
    width: 100%;
  }
  
  .has-val.input100 + .focus-input1001::after {
    top: -15px;
    font-size: 15px;
  }
  
  .has-val.input100 + .focus-input1001::before {
    width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .login100-form-btn {
    position: relative;
    font-size: 17px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: rgb(214 35 35);
    border-radius: 10px;
  
    box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -webkit-box-shadow: 0px 5px 0px 0px rgb(69 69 69 / 69%);
    -o-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(87, 184, 70, 0.5);
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    color:white;
    background-color: rgb(227,30,45);
    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.3);
    height: 50px;
    border: none;
    font-size: 17px;
    font-family: 'roboto_bold';
    letter-spacing: 1px;
  }
  
  .button__text {
    color: #ffffff;
    transition: all 0.2s;
  }
  
  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  
  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }
  
  
  
  
  .login100-form-btn:hover  {
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  }
  
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    pointer-events: none;
  
    
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    font-size: 16px;
    color: #c80000;
  
    display: block;
    position: absolute;
    background-color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 5px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Login more ]*/
  .login-more li {
    position: relative;
    padding-left: 16px;
  }
  
  .login-more li::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #cccccc;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
  }