<html>
    <head>
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../css/login_util.css">
    <link rel="stylesheet" href="../../css/cryptfont.css">
    <link rel="stylesheet" type="text/css" href="../../css/light_mode.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script src="../../js/notification.js"></script>
    </head>
    <body style="background-color: black;">
        <div class="top_head">
            <h4>Settings</h4>
        </div>
        <div class="setting_div">
            <h4>General</h4>
            <div class="setting_sub_div" id="currency_setting">
                <i class="fa fa-dollar"></i>
                <div class="setting_subtitle_div">
                    <p >Currency</p>
                    <span>Set your preferred local currency</span>
                </div>
                <div class="setting_detail_div">
                    <span>
                        USD
                    </span>
                </div>
            </div>
            <div class="setting_sub_div">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <div class="setting_subtitle_div">
                    <p >Notification</p>
                    <span>Allow notifications for fund updates</span>
                </div>
                    <div class="setting_detail_div">
                        <label class="notification_toggle">
                            <input type="checkbox" class="checkbox" checked />
                            
                            <div class="slider" aria-hidden="true">
                            <div class="thumb" />
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setting_sub_div" id="language_setting">
                <i class="fa fa-language"></i>
                <div class="setting_subtitle_div">
                    <p >Language</p>
                    <span>Change app language</span>
                </div>
                <div class="setting_detail_div">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
            <h4 class="m-t-30">Advanced</h4>
            <div class="setting_sub_div">
                <i class="fas fa-palette"></i>

                <div class="setting_subtitle_div">
                    <p >Theme</p>
                    <span>Select between dark and light theme</span>
                </div>
                <div class="setting_detail_div">
                    <label class="notification_toggle">
                        <input type="checkbox" class="checkbox switch_theme_mode"  checked />
                        
                        <div class="slider" aria-hidden="true">
                        <div class="thumb" />
                        </div>
                    </label>
                </div>
            </div>
            </div>
            <div class="setting_sub_div" id="support_setting">
                <i class="fas fa-question"></i>
                <div class="setting_subtitle_div">
                    <p >Support</p>
                </div>
               
            </div>
            <div class="setting_sub_div" id="reset_pin_setting">
                <i class="fa fa-bell" aria-hidden="true"></i>

                <div class="setting_subtitle_div">
                    <p >Reset pincode</p>
                </div>
                
            </div>
            <div class="setting_sub_div" id="logout">
                <i class="fas fa-sign-out-alt"></i>
                <div class="setting_subtitle_div">
                    <p >Logout</p>
                </div>
               
            </div>
        </div>

        <div class="footer_navigation">
            <div class="footer_tab">
                <a href="../balance/index.html"><i class="fas fa-align-justify"></i></a>
            </div>
            <div class="footer_tab">
                <a href="../trade/index.html">
                    <i class="fa fa-line-chart" style="font:normal normal normal 14px/1 FontAwesome"></i>
                </a>
            </div><div class="footer_tab ">
                <a href="../scan_qr/index.html"><i class="fas fa-qrcode"></i></a>
            </div><div class="footer_tab">
                <a href="../exchange/index.html"><i class="fa fa-exchange" style="font:normal normal normal 14px/1 FontAwesome"></i></a>
            </div><div class="footer_tab active">
                <span></span>
                <a><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </body>
</html>
<script src="../../js/theme_mode.js"></script>

<script>
    var theme = localStorage.getItem('theme');
    console.log(theme);
    if(theme=="1"){
        $(".switch_theme_mode").prop('checked',true);
    }
    else{
        $(".switch_theme_mode").prop('checked',false);
    }

    $("#currency_setting").click(function(){
	    window.location.href = "../../component/setting_sub/currency.html";
    });

    $("#language_setting").click(function(){
	    window.location.href = "../../component/setting_sub/language.html";
    });

    $("#support_setting").click(function(){
	    window.location.href = "../../component/setting_sub/support.html";
    });

    $("#reset_pin_setting").click(function(){
	    window.location.href = "../../component/setting_sub/reset_pin.html";
    });

    $("#logout").click(function(){
        localStorage.setItem("token","");
        var r = confirm("Are you sure you want to logout?");
        if (r == true) {
            window.location.href = "../../index.html";
        } else {
        }
    });

    $(".switch_theme_mode").change(function(){
        var value = $(this).prop('checked');
        if(value){
            localStorage.setItem("theme","1");
            $("body").removeClass("light_mode");
        }
        else{
            localStorage.setItem("theme","0");
            $("body").addClass("light_mode");
        }
    })
   
</script>