<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="../../css/login_util.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../../js/jquery.js"></script>
        <script src="../../js/bootstrap.js"></script>
    </head>
    <body style="background-color: black;">
        <div class="top_head">
            <a href="../setting/index.html" style="color: white;"><i class="fa fa-arrow-left" aria-hidden="true" style="position: absolute; left:0; margin:10px"></i></a>
            <span class="fs-16">Support</span>
        </div>
        <div>
            <div style="text-align: center;">
                <img src="../../img/reset_pin.png" style="width:50%; margin-bottom:50px; margin-top: 50px" >
            </div>
            <div>
                <p style="text-align: center; color:white; width: 80%; margin:auto">An email will be sent to your registered email address</p>
            </div>
            <div class="exchange_button_div">
                <button class="form-control" style="width: 60%; margin:auto; height: 40px; margin-top:40px">RESET</button>
            </div>
        </div>
    </body>
</html>
