<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/bootstrap.css">
	    <link rel="stylesheet" type="text/css" href="../../css/login_util.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../../js/jquery.js"></script>
        <script src="../../js/bootstrap.js"></script>
    </head>
    <body style="background-color: black;">
        <div class="top_head">
            <a href="../setting/index.html" style="color: white;"><i class="fa fa-arrow-left" aria-hidden="true" style="position: absolute; left:0; margin:10px"></i></a>
            <span class="fs-16">Support</span>
        </div>
        <div class="confirm_div" style="height: 89%;">
            <div style="text-align: center;">
                <img src="../../img/contact.png" style="width: 80%;">
            </div>
            <div style="margin-top:30px; text-align: center;">
                <p class="fs-25">Contact</p>
                <p style="color:#3c617f">token@atari.com</p>
            </div>
        </div>
    </body>
</html>
