<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../../css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/cryptfont.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/login_util.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css">
        <link  href="https://codepen.io/kristinadavidovic/pen/PoNQWEQ">
    </head>
    <body style="background-color: black;">
        <div class="top_head">
            <img src="../../img/logo.png">
        </div>
        <div style="text-align: center; color:white; margin-top:10px">
            <p class="fs-12" style="font-weight: 300; margin-bottom:1px">Total Balance </p>
            <p class="fs-13" style="font-weight: 300;">$47.97 </p>
        </div>

        <div class="trade_main_div">
            
            <div class="tab_main">
                <div class="tabs">
                    <div class="tabs__controls">
                        <div data-tab="0" class="tabs__tab tabs__tab--active">
                            <i class="fa fa-btc" aria-hidden="true" style="color:#f7931a;"></i>
                        </div>
                        <div data-tab="1" class="tabs__tab">
                             <img src="../../img/atri.png" style="width: 20px; margin-right:15px; margin-left:15px"/>
                        </div>
                        <div data-tab="2" class="tabs__tab ">
                            <i class="cf cf-eth" style="color:aqua"></i> 
                        </div>
                        <div data-tab="3" class="tabs__tab">
                            <i class="cf cf-ltc" style="color:#345c9c"></i> 
                        </div>
                        <div data-tab="4" class="tabs__tab">
                            <i class="cf cf-btc" style="color:green"></i> 
                        </div>
                    </div>
            
                    <div class="tabs__content">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div style="text-align: center;">
                                    <p>Current Balance</p>
                                </div>
                                <div style="display: flex;">
                                    <div style="width: 15%;">
                                        <button class="c_to_btn form-control btn_receive" id="btc">
                                            <i class="fas fa-arrow-left"></i>
                                            Receive
                                        </button>
                                    </div>
                                    <div style="width: 70%; text-align: center;">
                                        <p class="fs-23" style="margin-bottom:3px">0.094323 BTC</p>
                                        <p class="fs-20">$0.34</p>
                                    </div>
                                    <div style="width:15%">
                                        <button class="c_send_btn form-control btn_send" id="btc">
                                            <i class="fas fa-arrow-right"></i>
                                            Send
                                        </button>
                                    </div>
                                </div>
                                <div style="text-align:center" class="m-t-3">
                                    <span class="btc_price_text">BTC $22,494.56</span>
                                    <span class="btc_percent_text">-2.2%</span>
                                </div>
                                <div class="m-t-20">
                                    <div id="spark1" class="apex-charts"></div>
                                </div>
                                <div class="period_button_group">
                                    <button class="form-control btc_1_hour_btn btc_period_button active"> 1 hour</button>
                                    <button class="form-control btc_24_hour_btn btc_period_button"> 24 hours</button>
                                    <button class="form-control btc_7_day_btn btc_period_button"> 7 days</button>

                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div style="text-align: center;">
                                    <p>Current Balance</p>
                                </div>
                                <div style="display: flex;">
                                    <div style="width: 15%;">
                                        <button class="c_to_btn form-control btn_receive" id="btc">
                                            <i class="fas fa-arrow-left"></i>
                                            Receive
                                        </button>
                                    </div>
                                    <div style="width: 70%; text-align: center;">
                                        <p class="fs-23" style="margin-bottom:3px">203 ATRI</p>
                                        <p class="fs-20">$0.34</p>
                                    </div>
                                    <div style="width:15%">
                                        <button class="c_send_btn form-control btn_send" id="btc">
                                            <i class="fas fa-arrow-right"></i>
                                            Send
                                        </button>
                                    </div>
                                </div>
                                <div style="text-align:center" class="m-t-10">
                                    <span class="atri_price_text">ATRI $0.12</span>
                                    <span class="atri_percent_text">-2.2%</span>
                                </div>
                                <div class="m-t-20">
                                    <div id="spark2" class="apex-charts"></div>
                                </div>
                                <div class="period_button_group">
                                    <button class="form-control btc_1_hour_btn btc_period_button active"> 1 hour</button>
                                    <button class="form-control btc_24_hour_btn btc_period_button"> 24 hours</button>
                                    <button class="form-control btc_7_day_btn btc_period_button"> 7 days</button>

                                </div>
                            </div><div class="swiper-slide">
                                <div style="text-align: center;">
                                    <p>Current Balance</p>
                                </div>
                                <div style="display: flex;">
                                    <div style="width: 15%;">
                                        <button class="c_to_btn form-control btn_receive" id="btc">
                                            <i class="fas fa-arrow-left"></i>
                                            Receive
                                        </button>
                                    </div>
                                    <div style="width: 70%; text-align: center;">
                                        <p class="fs-23" style="margin-bottom:3px">0.094323 ETH</p>
                                        <p class="fs-20">$0.34</p>
                                    </div>
                                    <div style="width:15%">
                                        <button class="c_send_btn form-control btn_send" id="btc">
                                            <i class="fas fa-arrow-right"></i>
                                            Send
                                        </button>
                                    </div>
                                </div>
                                <div style="text-align:center" class="m-t-10">
                                    <span class="eth_price_text">ETH $647.34</span>
                                    <span class="eth_percent_text">0.57%</span>
                                </div>
                                <div class="m-t-20">
                                    <div id="spark3" class="apex-charts"></div>
                                </div>
                                <div class="period_button_group">
                                    <button class="form-control btc_1_hour_btn btc_period_button active"> 1 hour</button>
                                    <button class="form-control btc_24_hour_btn btc_period_button"> 24 hours</button>
                                    <button class="form-control btc_7_day_btn btc_period_button"> 7 days</button>

                                </div>
                            </div><div class="swiper-slide">
                                <div style="text-align: center;">
                                    <p>Current Balance</p>
                                </div>
                                <div style="display: flex;">
                                    <div style="width: 15%;">
                                        <button class="c_to_btn form-control btn_receive" id="btc">
                                            <i class="fas fa-arrow-left"></i>
                                            Receive
                                        </button>
                                    </div>
                                    <div style="width: 70%; text-align: center;">
                                        <p class="fs-23" style="margin-bottom:3px">0.094323 LTC</p>
                                        <p class="fs-20">$0.04</p>
                                    </div>
                                    <div style="width:15%">
                                        <button class="c_send_btn form-control btn_send" id="btc">
                                            <i class="fas fa-arrow-right"></i>
                                            Send
                                        </button>
                                    </div>
                                </div>
                                <div style="text-align:center" class="m-t-10">
                                    <span class="ltc_price_text">LTC $106.06</span>
                                    <span class="ltc_percent_text">0.53%</span>
                                </div>
                                <div class="m-t-20">
                                    <div id="spark4" class="apex-charts"></div>
                                </div>
                                <div class="period_button_group">
                                    <button class="form-control btc_1_hour_btn btc_period_button active"> 1 hour</button>
                                    <button class="form-control btc_24_hour_btn btc_period_button"> 24 hours</button>
                                    <button class="form-control btc_7_day_btn btc_period_button"> 7 days</button>

                                </div>
                            </div><div class="swiper-slide">
                                <div style="text-align: center;">
                                    <p>Current Balance</p>
                                </div>
                                <div style="display: flex;">
                                    <div style="width: 15%;">
                                        <button class="c_to_btn form-control btn_receive" id="btc">
                                            <i class="fas fa-arrow-left"></i>
                                            Receive
                                        </button>
                                    </div>
                                    <div style="width: 70%; text-align: center;">
                                        <p class="fs-23" style="margin-bottom:3px">0.094323 BCH</p>
                                        <p class="fs-20">$0.34</p>
                                    </div>
                                    <div style="width:15%">
                                        <button class="c_send_btn form-control btn_send" id="btc">
                                            <i class="fas fa-arrow-right"></i>
                                            Send
                                        </button>
                                    </div>
                                </div>
                                <div style="text-align:center" class="m-t-10">
                                    <span class="bch_price_text">BCH $307.34</span>
                                    <span class="bch_percent_text">0.07%</span>
                                </div>
                                <div class="m-t-20">
                                    <div id="spark5" class="apex-charts"></div>
                                </div>
                                <div class="period_button_group">
                                    <button class="form-control btc_1_hour_btn btc_period_button active"> 1 hour</button>
                                    <button class="form-control btc_24_hour_btn btc_period_button"> 24 hours</button>
                                    <button class="form-control btc_7_day_btn btc_period_button"> 7 days</button>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>            
        </div>
        <div class="history_div">
           <h4 class="fs-16 m-b-20" style="color:white; font-family: 'roboto_bold'; letter-spacing: 1px; ">Activity</h4>
           <div style="overflow-y: auto; height: 32%;">
                <div class="m-b-10" style="display:flex; color:white">
                    <div style="width: 10%; align-items: center; align-self:center">
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </div>
                    <div style="width: 45%;">
                        <p class="fs-14">Received</p>
                        <p class="fs-12">Jul 6, 2020 6:51 PM</p></div>
                    <div style="width: 45%; text-align: right;">
                        <p class="fs-14" style="color:yellowgreen">0.003432 BTC</p>
                        <p class="fs-12">$0.05</p>
                    </div>
                </div>
           </div> 
        </div>
        <div class="footer_navigation">
            <div class="footer_tab">
                <span></span>
                <a href="../balance/index.html">
                    <i class="fas fa-align-justify"></i>
                </a>
            </div>
            <div class="footer_tab active">
                <span></span>
                <a>
                    <i class="fa fa-line-chart" style="font:normal normal normal 14px/1 FontAwesome"></i>
                </a>
            </div><div class="footer_tab ">
                <span></span>
                <a><i class="fas fa-qrcode"></i></a>
            </div><div class="footer_tab">
                <span></span>
                <a href="../exchange/index.html"><i class="fa fa-exchange" style="font:normal normal normal 14px/1 FontAwesome"></i></a>
            </div><div class="footer_tab">
                <a href="../setting/index.html"><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </body>

    <div class="modal fade" id="receive_modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
                <p class="fs-20" style="color:white; padding-top:20px;">Address</p>
                <div style="width: 80%; display: flex; margin:auto">
                    <p class="fs-9">0x9360e055793e299a6da2c54a4b37fbd43992b624</p>
                    <span style="color:white; margin-top:15px"><i class="fas fa-copy"></i></span>
                </div>
                <div>
                    <img src="../../img/bitcoin_qr.png" style="width: 53%; margin-bottom: 20px;" />
                </div>
          </div>
          
        </div>
      </div>

      <div class="modal fade" id="send_modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
                <div class="select_crypt_send_slide">
                    <i class="fas fa-caret-left"></i>
                    <span>
                        <i class="cf cf-eth" style="color:aqua"></i> 
                    </span>
                    <i class="fas fa-caret-right"></i>
                </div>
                <p class="fs-20" style="color:white; padding-top:20px;">Send amount</p>
                <div class="input_amount_send_div">
                    <div style="width:20%">
                        <input value="0.00" type="number" style="text-align:center; border:none" class="fs-27" />
                        <p>BTC</p>
                    </div>
                    <div style="width:60%;align-self: center;"><i class="fa fa-exchange" style="font:normal normal normal 20px/1 FontAwesome; color:white"></i></div>
                    <div style="width:20%">
                        <p class="fs-27" style="color:gray">0.00</p>
                        <p>USD</p>
                    </div>
                </div>
                <div style="width: 80%; display: flex; margin:auto; margin-bottom:20px; margin-top:20px">
                    <input class="fs-12" placeholder="Tap to paste address">
                    <span style="color:white; margin-top:15px"><i class="fas fa-qrcode"></i></span>
                </div>
                <div class="exchange_button_div" style="padding-bottom:50px">
                    <button class="form-control send_continue" style="width: 80%; margin:auto; margin-top:40px">CONTINUE</button>
                </div>
          </div>
        </div>
      </div>
</html>
  
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js" ></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="../../js/jquery.slimscroll.min.js"></script>
<script src="../../js/apexcharts.min.js"></script>
<script src="../../js/apexcharts.init.js"></script>
<script>
    const tabControls = [...document.querySelectorAll(".tabs__controls")];
    const tabsContent = document.querySelector(".tabs__content");
    const tabsActiveClass = "tabs__tab--active";
    let tabsSwiper;
    const initTabControls = (swiper) => {
        tabControls.forEach((tab) => {
            tab.addEventListener("click", (event) => {
                if (event.target.classList.contains("tabs__tab")) {
                    [...tab.children].forEach((t) => {
                        t.classList.remove(tabsActiveClass);
                    });

                    swiper.slideTo(event.target.dataset.tab);
                    event.target.classList.add(tabsActiveClass);
                }
            });
        });
    };
    const initTabs = () => {
        tabsSwiper = new Swiper(tabsContent, {
            autoHeight: true,
            on: {
                slideChange: function () {
                    tabControls.forEach((tab) => {
                        [...tab.children].forEach((t) => {
                            t.classList.remove(tabsActiveClass);
                        });
                    });

                    const setActive = document.querySelector(
                        `.tabs__tab[data-tab="${this.activeIndex}"]`
                    );

                    setActive && setActive.classList.add(tabsActiveClass);
                }
            }
        });
    };
    initTabs();
    initTabControls(tabsSwiper);
    
    $(".btn_receive").click(function(){
        $("#receive_modal").modal('show');
    });

    $(".btn_send").click(function(){
        $("#send_modal").modal('show');
    });

    $(".send_continue").click(function(){
        window.location.href = "../send_confirm/index.html";
    })
</script>